footer {
    height: 7vh;
    width: 100%;
    background-color: rgb(238, 171, 48);
    color: rgb(151, 77, 8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
}